# Gemini API Configuration
GEMINI_API_KEY=
GEMINI_MODEL=gemini-flash-lite-latest

# Google Maps API
GOOGLE_MAPS_API_KEY=

# SMS Mobile API Configuration
SMS_MOBILE_API_KEY=940db887a723e83aa0cd1da03dffc93098a10fae7a8eb5f6

# Telegram Bot Tokens
PUBLIC_BOT_TOKEN=8581400313:AAFAppO2GOTHqB5jecQaY1_61Wn6uR8g0T0
POLICE_BOT_TOKEN=

